.conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #fff;
  max-width: 1000px;
}

.conteudo:nth-child(2) {
  background-color: initial;
}

@media (max-width: 400px) {
  .conteudo {
    max-width: 100%;
    grid-template-columns: 1fr;
  }
}

/* Estilos gerais */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  display: grid;
  justify-items: center;
  gap: 30px;
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
